<header class="main-header" [class.doctor-theme]="!isPatient()" [class.patient-theme]="isPatient()">
  
  <div class="header-left" style="cursor: pointer;">
    <div class="logo-box">
      <img src="svg\Vital Care (logo).svg"> 
    </div>
    <span class="welcome-msg">
      @if (isDoctor()) {
        Bienvenido, Dr. {{ doctorName }}
      } @else if (isPatient() && patientName !== "null") {
        Patient - {{ patientName }}
      } @else {
        Patient - Unknown
      }
    </span>
  </div>

  <div class="header-right">

    <div *ngIf="isDoctor()" class="doctor-menu">
      <div class="profile-circle">
        <span>👤</span> 
      </div>
      <button [routerLink]="['/']" class="btn-rounded">Logout</button>
    </div>

    <div *ngIf="!isDoctor()" class="patient-menu">
      <div class="profile-circle">
        <span>👤</span> 
      </div>
      
      <div class="settings-container">
        <button class="btn-rounded" (click)="toggleSettings()">Settings</button>

        <div class="dropdown-menu" *ngIf="isDropdownMenuOpen">
          <button [routerLink]="['/patient/user-profile']">Configuration</button>
          <button [routerLink]="['/']">Logout</button>
        </div>
      </div>
    </div>

  </div>
</header>