<app-header></app-header>

<div class="page-background">

  <div class="header-section">
    <button onclick="window.history.back()" class="back-button">
      <img src="/svg/left_arrow.svg" alt="Back">
    </button>

    <div class="avatar-circle">
      <img src="svg/avatar.svg"> 
    </div>

    <div class="name-container">
      <h1 *ngIf="currentDoctor">{{ currentDoctor.name }} {{ currentDoctor.surname }} - {{ currentDoctor.department }}</h1>
      <h1 *ngIf="!currentDoctor">In attesa dei dati...</h1>
      <hr class="blue-line">
    </div>
  </div>

  <div class="appointments-section">
    <h2>Curriculum</h2>

    <div class="green-card" *ngFor="let visit of pastVisits">
      <div class="card-top-row">
        <span>📅 {{ visit.attendance_date }}</span>
        <span>🏥 VitaCare</span> 
        <span>⭐ {{ visit.department }}</span>
      </div>

      <p class="card-description">
        <strong>Reason:</strong> {{ visit.title }} <br>
        <strong>Details:</strong> {{ visit.reason }}
      </p>
    </div>
  </div>

</div>