<app-header></app-header>

<div class="patient-history-page">

  <main class="content-wrapper">

    <section class="patient-header">
      <button onclick="window.history.back()" class="back-button">
        <img src="/svg/left_arrow.svg" alt="Back">
      </button>

      <div class="patient-avatar">
        <span>🖼️</span>
      </div>

      <div class="patient-info" *ngIf="currentPatient">
        <h1>{{ currentPatient.name }} {{ currentPatient.surname }}</h1>
        <!--<p style="color: red; font-family: monospace;">DATI: {{ currentPatient | json }}</p>-->
        <div class="underline"></div>
      </div>
      
      <div class="patient-info" *ngIf="!currentPatient">
        <h1>Loading...</h1>
      </div>
    </section>

    <section class="history-section">
      <h2>Historial clínico</h2>

      <div class="history-scroll">
        <div
          class="history-card"
          *ngFor="let appointment of history; let i = index" 
          [class.inactive]="i === history.length - 1"
        >
          <h3>{{ appointment.title }}</h3>

          <div class="doctor-row">
            <span class="doctor-icon">👤</span>
            <span>ID Dottore: {{ appointment.id_doctor }}</span>
          </div>

          <p>{{ appointment.reason }}</p>

          <h4>📅 {{ appointment.attendance_date }}</h4>
        </div>
      </div>

      <button [routerLink] = "['/doctor/create-appointment']" class="request-btn">Solicitar cita para el paciente</button>
    </section>
  </main>
</div>