<article class="appointment-container"  [class.active-card]="active"  [class.inactive-card]="!active" [class.doctor-theme]="!isPatient()"  [class.patient-theme]="isPatient()">
  <section class="appointment-buttons">
    @if(active) {
      <button class="edit-buton">
        <img [routerLink]="['../create-appointment']" src="svg/edit_pen.svg" alt="edit">
      </button>
      @if(!patientLayaut) {
        <button [routerLink]="['/doctor/fill-report', id]" 
        [state]="{ 
          id: id,
          id_patient: id_patient,
          id_doctor: id_doctor,
          title: title, 
          patientName: patientName, 
          doctorName: displayDoctorName, 
          date: date, 
          department: department, 
          description: description
        }"
        class="seal-button">
          <img src="svg/seal.svg" alt="seal">
        </button>
      }
      <button class="delete-buton" (click)="onDelete()">
        <img src="svg/trash_can.svg" alt="delete">
      </button>
    } @else {
      <button [routerLink]="['../report']" class="report-button">
        <img class="report-button" src="svg/info.svg" alt="delete">
      </button>
    }
  </section>
  <h1>{{title}}</h1>
  @if(patientLayaut) {
    <button [routerLink]="['/patient/doctor-info',id_doctor]" class="doctor-button">
        <img [src]=doctorIcon (error)="doctorIcon='svg/missing_user.svg'" alt="doctor icon">
        {{displayDoctorName}}
    </button>
  } @else {
    <button [routerLink]="['/doctor/patient-history', id_patient]" class="patient-button">
        <img [src]=patientIcon (error)="patientIcon='svg/missing_user.svg'" alt="user icon">
        {{patientName}}
    </button>
  }
  <p class="description">{{description}}</p>
  <footer>
    <label class="department-label-appointment">{{department | titlecase}}</label>
    <label class="date-label">{{date | date:'yyyy-MM-dd : HH:mm'}}</label>
  </footer>
</article>
