button {
  background: none;
}

button img {
  height: 100%;
  width: auto;
}

.appointment-container {
  position: relative;
  width: 500px;
  height: 200px;
  border-radius: 1rem;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.2);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

h1 {
  margin: 0;
  font-size: 1.2rem;
}

.description {
  margin: 0;
  overflow-y: hidden;
}

.appointment-buttons {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
}

.appointment-buttons button {
  height: 2rem;
  width: 2rem;
}

.doctor-button {
  height: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: bold;
  font-size: 1rem;
}

.doctor-button img {
  border-radius: 100%;
  background-color: #EADDFF;
}

footer {
  display: flex;
  width: 100%;
  margin-top: auto;
}

footer label {
  font-weight: bold;
}

.date-label {
  margin-left: auto;
}

@media(max-width: 600px) {
  .appointment-container {
    width: 400px !important;
  }
}
