<app-header></app-header>
<main class="outer-panel">

  <section class="page-buttons">
    <button onclick="window.history.back()" class="back-button">
      <img src="/svg/left_arrow.svg" alt="Back">
    </button>
  </section>

  <section class="form-card">
    <h1>Medical appointment form</h1>
    <div class="title-line"></div>

    <div class="form-grid">
      <div class="left-column">
        <label for="department"><strong>Department</strong></label>
        <select id="department" [(ngModel)]="department" (change)="loadDoctorsByDepartment()">
          <option value="" selected disabled>Select a department</option>
          <option *ngFor="let dep of departments" [value]="dep">
            {{ dep | titlecase}}
          </option>
        </select>

        <label for="doctor"><strong>Doctor</strong></label>
        <select id="doctor" [(ngModel)]="doctor" [disabled]="!department || doctors.length === 0">
          <option value="" selected disabled>Select a doctor</option>
          <option *ngFor="let doc of doctors" [value]="doc.credentials">
            {{ doc.name }}
          </option>
        </select>

        <div class="date-input">
          <label for="doctor"><strong>Calendar</strong></label>
          <input id="date" type="date" [(ngModel)]="date">
        </div>
      </div>

      <div class="vertical-divider"></div>

      <div class="right-column">
        <label for="matter"><strong>Medical matter</strong></label>
        <input id="matter" type="text" [(ngModel)]="medicalMatter">

        <label for="explanation"><strong>Explanation</strong></label>
        <textarea id="explanation" [(ngModel)]="explanation"></textarea>

        <label class="checkbox-row">
          <input type="checkbox" [(ngModel)]="notifications">
          <span><em>Activate automatic notifications</em></span>
        </label>

        <div class="buttons">
          <button class="update-btn" type="button">Update</button>
          <button class="create-btn" type="button">Create</button>
        </div>
      </div>
    </div>
  </section>
</main>