<app-header></app-header>
<main class="outer-panel">

  <section class="page-buttons">
    <button onclick="window.history.back()" class="back-button">
      <img src="/svg/left_arrow.svg" alt="Back">
    </button>
  </section>

  <section [class.patient-theme]="isPatient()" [class.doctor-theme]="!isPatient()" class="form-card">
    <h1>Medical appointment form</h1>
    <div class="title-line" [class.patient-secondary-theme]="isPatient()" [class.doctor-secondary-theme]="!isPatient()"></div>

    <div class="form-grid">
      <div class="left-column">
        <label for="department"><strong>Department</strong></label>
        <select id="department" [(ngModel)]="department" (change)="loadDoctorsByDepartment()" [disabled]="isEditMode">
          <option value="" selected disabled>Select a department</option>
          <option *ngFor="let dep of departments" [value]="dep">
            {{ dep | titlecase}}
          </option>
        </select>

        <label for="doctor"><strong>Doctor</strong></label>
        <select id="doctor" [(ngModel)]="doctor" [disabled]="isEditMode || !department || doctors.length === 0">
          <option value="" selected disabled>Select a doctor</option>
          <option *ngFor="let doc of doctors" [value]="doc.credentials">
            Dr. {{ doc.surname }}
          </option>
        </select>

        <div class="date-container">
          <div class="date-group">
            <label for="date"><strong>Calendar</strong></label>
            <input id="date" type="date" [(ngModel)]="date">
          </div>

          <div class="date-group">
            <label for="time"><strong>Time</strong></label>
            <select id="time" [(ngModel)]="time">
              <option value="" disabled selected>Select hour</option>
              <option *ngFor="let hour of availableHours" [value]="hour">
                {{ hour }}
              </option>
            </select>
          </div>
        </div>
      </div>

      <div class="vertical-divider" [class.patient-secondary-theme]="isPatient()" [class.doctor-secondary-theme]="!isPatient()"></div>

      <div class="right-column" [class.patient-secondary-theme]="isPatient()" [class.doctor-secondary-theme]="!isPatient()">
        <label for="matter"><strong>Medical matter</strong></label>
        <input id="matter" type="text" [(ngModel)]="medicalMatter" [disabled]="isEditMode">

        <label for="explanation"><strong>Explanation</strong></label>
        <textarea id="explanation" [(ngModel)]="explanation" [disabled]="isEditMode"></textarea>

        <label class="checkbox-row">
          <input type="checkbox" [(ngModel)]="notifications">
          <span><em>Activate automatic notifications</em></span>
        </label>

        @if (loginErrorMessage) {
            <div class="global-error-banner">
                {{ loginErrorMessage }}
            </div>
        }

        <div class="buttons">
          @if (!isEditMode) {
            <button class="create-btn" type="button" (click)="createAppointment()">Create</button>
          }
          @if (isEditMode) {
            <button class="update-btn" type="button" (click)="updateAppointment()">Update</button>
          }
        </div>
      </div>
    </div>
  </section>
</main>